.app {
  text-align: center;
  height: 100vh;
}

.app-header {
  background-color: #282c34;
  min-height: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
  color: white;
}

.app-link {
  color: #61dafb;
}
